{% extends "base.html" %}
{% block content %}
<form method = "POST" novalidate style="text-align: center;">
    <h1 style="display: block; text-align: center; color:black;">Flash Cards Factory</h1>
    {{form.hidden_tag()}}
    <p style="color:black"> {{form.flashcard_name.label}} </br> {{form.flashcard_name (size=64)}} </p> 
    <p style="color:black"> {{form.flashcard_description.label}} </br> {{form.flashcard_description (size=64)}} </p> 
    <p style="color:black"> {{form.flashcard_hint.label}} </br> {{form.flashcard_hint (size=64)}} </p> 
	<p>	{{form.save_flashCard (size= 32)}} </p>
</form>

<div class="row row-cols-1 row-cols-md-4 g-4" style="margin-left: 10px; margin-right: 10px;">
    {% for cards in flashcards %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{cards.flashCard_name}} </h5>
                <p class="card-text">{{cards.flashCard_description}} </p>
                <p class="card-text"><strong>Hint:</strong> {{cards.flashCard_hint}} </p>
                <a href='edit-flashcard/{{cards.id}}'> Edit Flash Card</a></br>
                <a href='delete-flashcard/{{cards.id}}'> Delete Flash Card</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <script>
        setTimeout(function confirmAction() {
          let confirmAction = confirm(
            "You've studied for one hour. Do you want to take a break?"
          );
          if (confirmAction) {
            alert("Enjoy your break!");
          } else {
            alert("Have a good study!");
          }
        }, 3600000);
      </script>
</div>
{% endblock %}
