{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <body> 
        <div class="container-fluid">
            <h1 style="color: orange;">
                Random Header For Home
            </h1>
            <a>
                <img src="/static/Sample_Image.png" id='Sample_Image' width="400" height="500">
                <h5 style="color: blue;">This code is to add images ^\</h5>
                <h5 style="color: red;">Feel free to add more stuff for the home page, we can discuss what we want but for now we shall try to finish the basic features</h5>
            </a>
            <img src="/static/Togepi.png" id='Togepi_Image' width="100" height="100"> 
        </div>
    </body>
</html>
{% endblock %}