{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<body>
	<div class="text-center mx-auto d-block" style="max-width: 700px; margin-top: 10%; background-color: transparent; color: white;" id='loginBlock'>
		<div class="col-md-8 mx-auto d-block">
			<div class="card-body" style="color: black;">
				<h1><strong>User Settings</strong></h1>
				<h5>Type "Confirm Delete Account {{current_user.email}}" to DELETE account!</h5>
				<form method="POST" novalidate>
					{{ form.hidden_tag() }}
					<p> {{ form.delete_account.label }} <br>
						{{ form.delete_account(size=32) }}</p>

					<p> {{ form.submit() }}</p>
				</form>
			</div>
		</div>
	</div>
</body>
{% endblock %}
