{% extends "base.html" %}
{% block content %}
<div class="text-center">
	<h1 style= 'color:black'><strong>To Do List </strong></h1>
	<form method = "POST" novalidate>
		{{form.hidden_tag()}}
		<p style= 'color:black'> {{form.task_name.label}} {{form.task_name (size=64)}}
			{{form.add_task_button (size= 32)}} </p>
	<table style="margin-left: 900px;">
		<tr>
			<th style= 'color:black'> Task </th>
			<th style= 'color:black'> Actions </th>
		</tr>
		
		{% for task in tasks %}
		<tr>
			<td style= 'color:black;'> {{task.task_name}}</td>
			<td>
				<a href="delete/{{task.id}}" style="margin-left: 10px;">Delete</a>
				<a href="update/{{task.id}}">Update</a> 
				<a href="start/{{task.id}}"> Start</a>
			</td>
		</tr>
		{% endfor %}
	{% block body %}
	{% endblock%}
	</table>
</div>
{% endblock %}
